.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead {
	width: 100%;
}


.tt-suggestion p {
    margin: 0;
}

.tt-menu {
	width: 100%;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	border-top: 0;
}

.rs_sbox {
	border: 0;
	border-bottom: 1px solid #d2d2d2;
}

.rs_sbox a,
.tt-menu h1 {
	color: inherit;
	padding: 5px 15px;
	display: block;
}
.tt-menu h1 {
    font-size: unset !important;
}
.tt-menu h1.blink {
	animation: blinker 1.5s linear infinite;
}

.rs_box a b {
	color: inherit !important;
}

.rs_sbox:last-child {
	border: 0;
}

@-webkit-keyframes blinker {
	50% { opacity: 0.0; }
}

@-moz-keyframes blinker {
	50% { opacity: 0.0; }
}

@keyframes blinker {
	50% { opacity: 0.0; }
}